.wrapper {
    display: flex;
    border: 1px solid #333;
    padding: 20px;   
    justify-content: center;
}
.content {
    background-color: chartreuse;
    width: clamp(300px , 100% , 800px);
    height: 500px;
}