.contioner{
    background-color: rgb(255, 255, 255);
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item1{
    background-color: rgb(26, 150, 199);
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {
    .contioner{
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
    }
  
}
@media (max-width: 768px) {
    .contioner{
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }
  
}
@media (max-width: 480px) {
    .contioner{
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
    }
  
}