body {
    background-color: black;
}
.grid-container div{
    color: azure;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    width: 600px; 
    height: 400px;
}
.grid-item-a{
    border-radius: 10px;
    grid-column:span 3;
}
.grid-item-b{
    border-radius: 10px;
    grid-column: 1;
    grid-row:span 2;
    
}
.grid-item-c{
    border-radius: 10px;
    grid-column: 2;

}
.grid-item-d{
    border-radius: 10px;
    grid-column: 3;
    grid-row: 2 /2 ;

}
.grid-item-e{
    border-radius: 10px;
    grid-column: 2 / span 2;
    grid-row: 3;
}
.grid-item-f{
    border-radius: 10px;
    grid-column: 1 / span 3 ;
    grid-row: 4;
}